[submodule "ubuntu16.04_base"]
	path = ubuntu16.04_base
	url = git@github.com:mawall/ubuntu16.04_base.git
[submodule "python-pcl"]
	path = python-pcl
	url = git@github.com:mawall/python-pcl.git
[submodule "py_pointcloud"]
	path = py_pointcloud
	url = git@github.com:mawall/py_pointcloud.git
[submodule "tf_pointcloud"]
	path = tf_pointcloud
	url = git@github.com:mawall/tf_pointcloud.git
[submodule "mx_pointcloud"]
	path = mx_pointcloud
	url = git@github.com:mawall/mx_pointcloud.git
[submodule "pt_pointcloud"]
	path = pt_pointcloud
	url = git@github.com:mawall/pt_pointcloud.git
[submodule "pt_cuda_pointcloud"]
	path = pt_cuda_pointcloud
	url = git@github.com:mawall/pt_cuda_pointcloud.git
[submodule "ubuntu20.04_base"]
	path = ubuntu20.04_base
	url = git@github.com:mawall/ubuntu20.04_base.git
